<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bare - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/app.css" />
</head>

<body>

  <!-- Page Content -->
  <div class="container-fluid">
    <div class="row" id="mainRow">

    </div>
  </div>


  <span id="hitterTemplate" type="text/template7">
    <div class="player-card">

      <div class="header">
        <div class="name">{{name}}<span class="badge badge-secondary float-right">{{bats}}</span></div>
        <div class="team mb-2 text-muted">{{team}} / {{position}}</div>
      </div>

      <div class="row">
        <div class="col-6 overrides">
          <div class="against">Against L</div>

          <div class="type">Contact</div>
          <ul class="list-group">
            {{#each leftContact}}
            <li class="list-group-item">
              {{start}}-{{end}}: {{value}}
            </li>
            {{/each}}
          </ul>

          <div class="type">Power</div>
          <ul class="list-group">
            {{#each leftPower}}
            <li class="list-group-item">
              {{start}}-{{end}}: {{value}}
            </li>
            {{/each}}
          </ul>


        </div>
        <div class="col-6 overrides">
          <div class="against">Against R</div>

          <div class="type">Contact</div>
          <ul class="list-group">
            {{#each rightContact}}
            <li class="list-group-item">
              {{start}}-{{end}}: {{value}}
            </li>
            {{/each}}
          </ul>

          <div class="type">Power</div>
          <ul class="list-group">
            {{#each rightPower}}
            <li class="list-group-item">
              {{start}}-{{end}}: {{value}}
            </li>
            {{/each}}
          </ul>



        </div>

        <div class="col-12 attributes">
          Run: {{running}}
        </div>

      </div>
    </div>
  </span>

  <span id="pitcherTemplate" type="text/template7">
    <div class="player-card">

      <div class="header">
        <div class="name">{{name}}<span class="badge badge-secondary float-right">{{throws}}</span></div>
        <div class="team mb-2 text-muted">{{team}} / P</div>
      </div>

      <div class="row ">
        <div class="col-6 overrides">
          <div class="against">Against L</div>

          <div class="type">Contact</div>
          <ul class="list-group">
            {{#each leftContact}}
            <li class="list-group-item">
              {{start}}-{{end}}: {{value}}
            </li>
            {{/each}}
          </ul>

          <div class="type">Power</div>
          <ul class="list-group">
            {{#each leftPower}}
            <li class="list-group-item">
              {{start}}-{{end}}: {{value}}
            </li>
            {{/each}}
          </ul>


        </div>
        <div class="col-6 overrides">
          <div class="against">Against R</div>

          <div class="type">Contact</div>
          <ul class="list-group">
            {{#each rightContact}}
            <li class="list-group-item">
              {{start}}-{{end}}: {{value}}
            </li>
            {{/each}}
          </ul>

          <div class="type">Power</div>
          <ul class="list-group">
            {{#each rightPower}}
            <li class="list-group-item">
              {{start}}-{{end}}: {{value}}
            </li>
            {{/each}}
          </ul>

        </div>


        <div class="col-12 attributes">
          Pitches: {{pitches}}
        </div>

      </div>
    </div>
  </span>


  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="./js/template7.min.js"></script>
  <script src="./js/app.js"></script>

</body>

</html>