.player-card {
    height: 89mm;
    width: 64mm;
    padding: 1mm;
    border: 1px solid #2f3f33;
}

.overrides {
    font-size: 10px;
    border-top: 1px solid #cccccc;
    padding-top: 10px;
    padding: 5mm;
}

.overrides .type {
    color: #787589;
    font-weight: 700;
}

.overrides ul {
    margin-bottom: 10px;
}

.overrides li {
    padding: 0px;
    margin: 0px;
    border:none;
}

#hitterTemplate, #pitcherTemplate {
    display: none;
}

.against {
    font-weight: bold;
    width: 100%;
    margin-bottom: 5mm;
    border-bottom: 1px dotted #f1f1f1;
}

.header { 
    background-color: #f1f1f1;
    padding-top: 2.5mm;
    padding-left: 5mm;
    padding-right: 5mm;
    margin-bottom: 0px;

} 

.attributes {
    font-size: 10px;
}

@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}


